SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
LEGACY_IMAGE_BUCKET=artists
LEGACY_IMAGE_PREFIX=headshots
PROFILE_IMAGE_BUCKET=artist-images

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON=
VITE_SUPABASE_PROFILE_BUCKET=artist-images
VITE_SUPABASE_DEMO_BUCKET=artist-demos
